/*trying something out*/
/* FONTS*/
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

/*--*/



body {
  margin-left: 50px;
  margin-top: 100px;
  text-align: left;
  font-family: 'VT323';font-size: 22px;
  background: rgb(0, 0, 0);
  color: skyblue;
}

button {
  font-family: 'VT323';font-size: 22px;
  background-color: rgb(220, 20, 70);
  color: white;
}



input {
  font-family: 'VT323';font-size: 17px;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  text-transform: uppercase;
}

input::placeholder {
  color: white;
  text-align: center;
  opacity: 0.8; /* optional, helps readability */
}





/*classes for the fullscreen popup yeyeyeeee*/
.full-screen{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
}

.flex-container-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}
